@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* General styles */
body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin: 0;
    background-color: navajowhite;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .header .logo {
        width: 150px; /* Example adjustment for logo size */
        height: auto;
    }

    .header .heading {
        font-size: 20px; /* Example adjustment for heading size */
        margin-left: 0; /* Reset margin for heading */
    }

    /* Add more responsive adjustments as needed */
}

.header2 {
    display: flex;
}
