@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* General styles */
body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin: 0;
    background-color: #2e3e51
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .header .logo {
        width: 150px; /* Example adjustment for logo size */
        height: auto;
    }

    .header .heading {
        font-size: 20px; /* Example adjustment for heading size */
        margin-left: 0; /* Reset margin for heading */
    }

    /* Add more responsive adjustments as needed */
}

.header2 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}